In [8]:
import pandas as pd
df=pd.read_csv("books.csv")
df1=pd.read_csv('books_new.csv')

In [14]:
df2=df1.drop(["Author","Publisher","Height","Genre"],axis=1)

In [16]:
new_df=df.merge(df2,on='Title')

In [18]:
new_df=new_df.drop(["Height","Publisher","Author"],axis=1)

In [19]:
new_df

                            Title              Genre           SubGenre
0        Fundamentals of Wavelets  signal_processing  signal_processing
1                      Data Smart       data_science       data_science
2        God Created the Integers        mathematics        mathematics
3               Superfreakonomics          economics          economics
4                     Orientalism            history            history
..                            ...                ...                ...
208      Structure and Randomness        mathematics        mathematics
209  Image Processing with MATLAB  signal_processing  signal_processing
210                   Animal Farm            fiction            classic
211                    Idiot, The            fiction            classic
212            Christmas Carol, A            fiction            classic

[213 rows x 3 columns]

In [21]:
new_df.isnull().sum()

Title       0
Genre       0
SubGenre    0
dtype: int64

In [25]:
new_df["new_genre"]=new_df["Genre"]+" "+new_df["SubGenre"]

In [26]:
new_df["new_genre"]

0      signal_processing signal_processing
1                data_science data_science
2                  mathematics mathematics
3                      economics economics
4                          history history
                      ...
208                mathematics mathematics
209    signal_processing signal_processing
210                        fiction classic
211                        fiction classic
212                        fiction classic
Name: new_genre, Length: 213, dtype: object

In [29]:
new_df

,Title,Genre,SubGenre,new_genre
0,Fundamentals of Wavelets,signal_processing,signal_processing,signal_processing signal_processing
1,Data Smart,data_science,data_science,data_science data_science
2,God Created the Integers,mathematics,mathematics,mathematics mathematics
3,Superfreakonomics,economics,economics,economics economics
4,Orientalism,history,history,history history
...,...,...,...,...
208,Structure and Randomness,mathematics,mathematics,mathematics mathematics
209,Image Processing with MATLAB,signal_processing,signal_processing,signal_processing signal_processing
210,Animal Farm,fiction,classic,fiction classic
211,"Idiot, The",fiction,classic,fiction classic
212,"Christmas Carol, A",fiction,classic,fiction classic

In [30]:
new_df=new_df.drop(["Genre","SubGenre"],axis=1)

In [31]:
new_df

                            Title                            new_genre
0        Fundamentals of Wavelets  signal_processing signal_processing
1                      Data Smart            data_science data_science
2        God Created the Integers              mathematics mathematics
3               Superfreakonomics                  economics economics
4                     Orientalism                      history history
..                            ...                                  ...
208      Structure and Randomness              mathematics mathematics
209  Image Processing with MATLAB  signal_processing signal_processing
210                   Animal Farm                      fiction classic
211                    Idiot, The                      fiction classic
212            Christmas Carol, A                      fiction classic

[213 rows x 2 columns]

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [35]:
vector = cv.fit_transform(new_df['new_genre']).toarray()

In [37]:
vector.shape

(213, 24)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity
cosn=cosine_similarity(vector)

In [39]:
cosn

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [42]:
def recommend(book):
    index = new_df[new_df['Title'] == book].index[0]
    distances = sorted(list(enumerate(cosn[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].Title)

In [44]:
recommend("Animal Farm")

Trial, The
Outsider, The
Complete Sherlock Holmes, The - Vol I
Complete Sherlock Holmes, The - Vol II
Farewell to Arms, A